$primary: #D65858;
$secondary: #58D6D6;

.Body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
.Container{
    flex: 1;
    max-width: 60rem;
    width: 90%;
    margin: 3rem auto 0;
    font-family: sans-serif;

    h1, h2, h3, h4, h5, h6{
        color: #333;
    }

    p{
        color: #808080;
    }
    .underline{
        border-bottom: 3px solid #D65858;
    }
}
.listUnstyled{
    list-style: none;

    >li {
        padding: 5px 0;
    }
}

.link{
    color: $secondary;
    text-decoration: none;
    display: inline-flex;
    flex-direction: column;
    &:after{
        width: 100%;
        display:inline-block;
        height: 2px;
        background: $primary;
        position: relative;
        content: '';
         transition: transform 0.1s ease-in;
    }

    &:hover{
        &:after{
            transform: translateY(2px);
        }
    }
}