.accordion__head{
    position: relative;
    display: block;
    padding: 10px 0 10px 10px;
    border: 1px solid #D65858;
    color: #333;
    font-weight: 600;
}
.chevron{
    position: absolute;
    right: 0;
    top: 0;
    background: #D65858;
    height: 100%;
    padding: 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover{
        background: #58D6D6;
    }
}
.chevron--arrow{
    color: white;
    font-size: 12px;
}

.accordion__list{
    margin: 0 0 20px;
    padding: 20px 0 20px 30px;
    list-style: none;

    > li {
        padding: 0 0 5px;
        color:#333;
    }
}

.accordion__body{
    border: 1px solid #D65858;
    border-top: 0;
}

.accordion{
    &--is-open{
        transition-property: all;
        transition-timing-function: cubic-bezier(0.895, 0.03, 0.685, 0.22);
        transition-duration: 0.5s;
    }
}