.footer{
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    background: #D65858;
    font-family: sans-serif;

    p{
        color: #fff;
    }
}
.social-nav{
    list-style: none;
    padding: 0;
    color: #fff;
    > li {
        display: inline-block;
        margin-right: 15px;

        a{
            color: #fff;
            text-decoration: none;
            &:hover{
                color: #58D6D6;
            }
        }
    }
}